@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap');

.animeBottom{
  opacity: 0;
  transform: translateY(-20px);
  animation: animeBottom .5s forwards;
}


.animeLeft{
  opacity: 0;
  transform: translateX(-50px);
  animation: animeLeft .7s forwards;
}

.animeModal{
  opacity: 0;
  transform: translateX(-20px);
  animation: animeModal .7s forwards;
}


@keyframes animeLeft {
  to {
    opacity: .9;
    transform: initial;
  }
}

@keyframes animeBottom {
  to {
    opacity: 1;
    transform: initial;
  }
}

@keyframes animeModal {
  to {
    opacity: .8;
    transform: initial;
  }
}